
    <table class='table'>
        <tbody>
            <tr>
                <td>Диагональ</td>
                <td>{{ Product.diagonal}}</td>
            </tr>
            <tr>
                <td>Дисплей</td>
                <td>{{ Product.display}}</td>
            </tr>
            <tr>
                <td>Частота процессора</td>
                <td>{{ Product.processor_freq}}</td>
            </tr>
            <tr>
                <td>Вдеокарта</td>
                <td>{{ Product.video}}</td>
            </tr>
            <tr>
                <td>Операционная память</td>
                <td>{{ Product.ram}}</td>
            </tr>
            <tr>
                <td>Время заряда батарей</td>
                <td>{{ Product.time_without_charge}}</td>
            </tr>
        </tbody>
    </table>