<table class='table'>
    <tbody>
        <tr>
            <td>Диагональ</td>
            <td>{{ Product.diagonal}}</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td>{{ Product.display}}</td>
        </tr>
        <tr>
            <td>Разрешение экрана</td>
            <td>{{ Product.resolution}}</td>
        </tr>
        <tr>
            <td>Обьем батарей</td>
            <td>{{ Product.accum_volume}}</td>
        </tr>
        <tr>
            <td>Операционная память</td>
            <td>{{ Product.ram}}</td>
        </tr>
        <tr>
            <td>Максимальный объем памяти</td>
            <td>{{ Product.sd_volume_max}}</td>
        </tr>
    </tbody>
</table>
